<% provide(:title, @user.name) %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for(@user, size: 300) %>
      </h1>
      <p class="name"> <%= @user.name %> </p>
    </section>
    <section class="profile">
        <p class="aboutme"> About Me:<br><%= @user.aboutme %> <br></p>
        <p class="interests"> Interests:<br><%= @user.interests %> </p>
        <p class="quotes"> Quotes:<br><%= @user.quotes %> </p>
        <p class="hometown"> Hometown:<br><%= @user.hometown %> </p>
        <p class="SEMT"> Do i like Software Engineering?:<br><%= @user.SEMT %> </p>
    </section>
  </aside>
  <div class="span8">
    <% if @user.microposts.any? %>
      <h3>Berlin Wall (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
